{% extends 'base.html.twig' %}

{% block title %}Détails compétence
{% endblock %}

{% block body %}
	<main class="container">
	  {{ include('items/_navbarAdmin.html.twig') }}
		<h1>Détails de la compétence</h1>

		<table class="table table-striped  table-hover">
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ skill.name }}</td>
				</tr>
				<tr>
					<th>Niveau</th>
					<td>{{ skill.levelskill.number}}</td>
				</tr>

			</tbody>
		</table>

		<a href="{{ path('admin_skill_index') }}" class="btn btn-outline-dark mb-5">Retour</a>

		<a href="{{ path('admin_skill_edit', {'id': skill.id})}}" class="btn btn-primary mb-5">Modifier</a>


	</main>
{% endblock %}
